
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  align-content: center;
  text-align: center;
}

h1, h2 {
  color: aqua;
}

.main {
  color: blue;
}

.navbar {
  padding: 30px; 
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid aqua;   
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: aqua;
}

img {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  cursor: pointer;
}

.description {
  padding: 30px;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

button {
  padding: 1px;
  border-radius: 5px;
  color: purple;
  background-color: darkgray;
  cursor: pointer;
}

button:hover {
  background-color: aqua;
  padding: 1.5px;
  border-radius: 6px;
}

h3 {
  color: white;
}

p { 
  color: blanchedalmond;
}

.productList {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
}

.footer {
  padding: 2%;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  position: fixed;
  margin-top: 5%;
  background-color: grey;
}

a:hover {
  color: aqua;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
  background-color: purple;
  border-radius: 8px;
  padding: 8px;
  margin: 5px;
}
